

<!--Basicamente este arquivo irá conter todos os elementos que 
queremos exibir em todas as páginas. O conceito é parecido com
a orientação a objetos, onde esse arquivo será a classe mãe 
e todos os outros arquivos irão herdar o conteúdo desse arquivo-->


<p>

    <!--No Django quando queremos passar instruções em python utilizamos
    as chaves e porcentagens com o comando que queremos passar. No nosso
    caso, vamos passar o comando url que estará acompanhado do  nome da
    nossa rota (definida no urls.py). A idéia é que ao clicar no titulo,
    o usuário volte para a página incial(index.html)-->
    <a href="{% url 'index'%}">Learning Log</a> - 

    <!--Vamos criar um link para a página de tópicos, para isso, vamos
    novamente usar o comando em url do python e o nome da nossa rota
    definida na urls.py-->
    <a href="{% url 'topics'%}">Tópicos</a>

    <!--Nesta parte, vamos verificar se a um usuário logado no sistema.Para isso, vamos usar o método is_authenticated que tem como objetivo verificar há existência de usuários autenticados no sistema-->
    {%if user.is_authenticated%}

        <!--Se o sistema estiver usuários logados, iremos apresentar
        uma mensagem utilizando o nome do usuário (vamos usar o .username que captura o nome do usuário logado)-->
        Olá, {{user.username}}

        <!--Como ja criamos o logout na view do user, vamos agora
        só criar o link que irá acessar a rota da view de logout-->

        <a href="{%url 'logout'%}">Sair</a>
    
    <!--Se não estiver usuários logados, vamos mostrar a url que 
    irá encaminhar o usuário para um dos templates abaixo-->
    {% else %}

        <!--Rota para o template de login-->
        <a href="{%url 'login'%}">Entrar</a>

        <!--Rota para a página de criação de novos registros-->
        <a href="{%url 'register'%}">Registrar</a>
    
    {%endif%}
</p>


<!--Este trecho define um bloco de conteúdo em um template Django.
Blocos são áreas em um template base que podem ser substituidas ou
estendidas por templates filhos.

Block: É uma palavra chave do Django Template Language (DTL) que indica
a criação de um bloco.

Content: É o nome do bloco. Você pode escolher qualquer nome significativo. Este nome é usado para referenciar o bloco em
templates filhos.

endblock: Indica fim do bloco. O nome do endblock deve corresponder
ao nome do bloco que você abriu (no nosso caso, o block content)base.

Tudo o que estiver entre block e endblock no template base será O
contéudo padrão do bloco. Se um template filho não substituir este
bloco, o conteúdo será padrão.

-->
{%block content%}{%endblock content%}






