
<html lang="pt-br">

    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale 1.0">
    </head>

    <body>

        <!--Agora que ja trabalhamos o arquivo base, vamos extende-lo
        aqui no index.html para ele poder herdar o conteúdo do arquivo
        base. Para isso, vamos abrir chaves e utilizar o comando extends do django que irá ser acompanhado do caminho do arquivo 
        base.html que esta dentro da pasta do sistema (o 
        que fica dentro da pasta "templates") -->

        {%extends "learning_logs/base.html"%}
       

        {%block content%}
            <p>Essa aplicação te ajudará a organizar os seus estudos</p>
        {%endblock content%}
        
        
    </body>

</html>