
<!--Agora que criamos o arquivo, vamos importar/extender o template mãe
base.html que contém o contéudo que deverá aparecer em todas as páginas do sistema.-->

{% extends "learning_logs/base.html"%}


{%block content%}

    <h2>Tópicos:</h2>

    <!--Aqui iremos colocar todo o contéudo que será especifico dessa
    página, no nosso caso os topicos cadastrados no banco de dados.-->

    <!--Primeiro, vamos criar uma lista que irá conter todos os tópicos-->
    <ul>
        <!--Agora queremos apresentar todas os dados cadastrados
        na tabela topics, vamos criar um for que irá percorrer
        toda o dicionário context com o objetivo de imprimir todos os dados cadastrados.-->

        <!--Em Django, quando queremos passar uma instrução em python
       em um template HTML abrimos chave e porcentagem para escrever o comando python.-->

        <!--For que ira percorrer o indice topics do dicionario
        context-->
        {%for topic in topics %}
            <!--Lista que ira apresentar os dados da tabela Topic.
            Em Django, quando queremos ler uma variável python,
            abrimos 2 chaves e escrevemos o nome dessa variável-->
            <li>
                
                <!--Vamos criar um link para as entradas de cada tópico, para isso, vamos usar o comando url com  nome da nossa
                rota e a coluna id(argumento do método view.py que irá
                conter os ids das entradas cadastradas no banco de
                dados).-->
                <a href="{% url 'topic' topic.id%}">{{topic}}</a>

            </li>

        <!--O empty significa vázio e irá mostrar um texto padrão
        caso não haja dados no dicionário topic.-->
        {%empty%}

            <!--Mensagem padrão-->
            <li>Não há tópicos adicionados.</li>
            

        <!--O endfor representa o fim do loop  for-->
        {%endfor%}
    </ul>
{% endblock content%}