
<!--Import do arquivo base.html com o conteúdo padrão de todas
as páginas-->

{% extends 'learning_logs/base.html'%}

{%block content%}
    <!--Conteúdo espeicifico da página topic-->

    <!--Vamos passar no paragrafo a variável topic(indice do
    dicionário context que contem o  nome dos tópicos)-->
    <p>Tópico: {{topic}}</p>

    <p>Anotações:</p>


    <p>
       <!--Rota da view de new_entry que irá conter o id do tópico
       que será relacionado com a anotação.-->
        <a href="{%url 'new_entry' topic.id%}">Adicione uma nova anotação</a>
    </p>
        <!--Agora vamos criar uma lista não ordenada que ira conter
        as entradas do tópico-->
        <ul>

            <!--Vamos percorrer o indice entries do dicionário context com o objetivo de imprimir a lista de dados na página-->
            {%for entry in entries%}
                <!--Criação da lista de entradas-->
                <li>
                    <!--Agora passaremos em cada paragrafo a variável 
                    entry contendo a data e o texto formatados.-->
                    <p>{{entry.date_add | date:'M d, Y H: i'}}</p>
                    <p>{{entry.text_anotacao | linebreaks}}</p>

                    <!--Criação do link para a página do tópico que terá as suas anotações atualizadas.-->
                    <p><a href="{%url 'edit_entry' entry.id%}">Editar anotação</a></p>
               </li>
            
            <!--Caso o dicionário esteja vázio, vamos imprimir uma mensagem padrão-->
            {%empty%}

                <!--Mensagem padrão-->
                <li>Não há entradas</li>
            
            <!--Fim do loop-->
            {%endfor%}

        </ul>
    </p>

{%endblock content%}